<div class="movie-list">
  <!-- SEARCHING -->
  <div class="searchBox">
    <h2>Movies</h2>
    
    <input type="text" placeholder="search" [(ngModel)]="searchTxt" (input)="filterMovies()" >
  </div>
  <!-- SEARCHING -->

  <!-- SORTING -->
  <div class="">
    <label for="">Sort</label>
    <select name="" id="" (change)="sortByCategory($event)" >
      <option value="">Select</option>
      <option value="id">ID</option>
      <option value="title">Title</option>
      <option value="director">Director</option>
      <option value="year">Year</option>
    </select>
  </div>

  <!-- SORTING -->

  <button routerLink="/add" class="btn btn-primary">Add Movie</button>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>Title</th>
        <th>Director</th>
        <th>Year</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let movie of movies"> -->
      <tr *ngFor="let movie of filteredMovies">
        <td>{{ movie.title }}</td>
        <td>{{ movie.director }}</td>
        <td>{{ movie.year }}</td>
        <td>
          <button class="btn btn-warning" (click)="editMovie(movie.id)">
            Edit
          </button>
          <button class="btn btn-danger" (click)="deleteMovie(movie.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
