<div class="ekart--search--product">
    <input class="ekart-search-product-input" [(ngModel)]="searchText">
    <button class="btn btn-search">Search</button>
</div>
<div class="ekart-search-result-for"><p><strong>Search result for:</strong> {{ searchText }}</p></div>
<img src="" [alt]="errorMsg">
<br>
<img src="" alt="errorMsg">

<hr>
<br><br>

<button type="button" onclick="alert(`You are hacked`)" >Click Here</button>


<!-- <button type="button" onclick="myFunClick()" >Click Here 2</button> -->