<!-- <div>
    <h2>Add New Item</h2>
    <form (ngSubmit)="addItem()" #itemForm="ngForm">
      <label for="name">Item Name:</label>
      <input type="text" id="name" required [(ngModel)]="newItem.name" name="name" />
      <button type="submit" [disabled]="!itemForm.form.valid">Add Item</button>
    </form>
  </div>
  
  <div *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <button (click)="deleteItem(item.id)">Delete</button>
    <a [routerLink]="['/items', item.id]">Details</a>
  </div>
   -->


   <h1>Item List Compoennt is working---</h1>