
PRODUCT-LIST.html

<div class="container">
    <h2>Product List</h2>
    <ul style="list-style: none;">
        <li *ngFor="let it of products">
            {{it.name}} - Category: {{it.category}}
            <a style="padding: 4px; margin: 4px;" [routerLink]="['/products/view',it.id]">View</a>
            <a style="padding: 4px; margin: 4px;" [routerLink]="['/products/edit',it.id]">Edit</a>
            <a style="padding: 4px; margin: 4px;" (click)="deleteProduct(it.id)">Delete</a>
        </li>
        <br>
    </ul>
    <p *ngIf="!products">No products available</p>
</div>
<a [routerLink]="['/products/add']">Add Product</a>

